/* font-family: 'Ubuntu', sans-serif; */
:root {
    --clr-red-600: hsl(356, 100%, 66%);
    /* CTA text */
    --clr-red-400: hsl(355, 100%, 74%);
    /* CTA hover background */
    --clr-blue-600: hsl(208, 49%, 24%);
    /* headings */

    --clr-white: hsl(0, 0%, 100%);
    /* text */
    --clr-blue-200: hsl(240, 2%, 79%);
    /* footer text */
    --clr-blue-400: hsl(207, 13%, 34%);
    /* body copy */
    --clr-blue-800: hsl(240, 10%, 16%);
    /* footer background */

    --gradient-1: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* Background gradient - Intro/CTA mobile nav */
    --gradient-2: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    /* Background gradient - body: */
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: var(--clr-blue-600);
}

/* General styling */

body {
    font-family: "Overpass", sans-serif;
    line-height: 1.7;
    font-size: 1.6rem;
    color: var(--clr-blue-400);
}

.container {
    margin: 0 auto;
    width: 87%;
    max-width: 1110px;
}

.btn {
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 999px;
}

.btn-primary-1,
.btn-primary-2 {
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary-1 {
    background-color: var(--clr-white);
    color: var(--clr-red-600);
}

.btn-primary-1:hover,
.btn-primary-1:focus {
    background-color: var(--clr-red-400);
    color: var(--clr-white);
}

.btn-primary-2 {
    border: 1px solid var(--clr-white);
    background-color: transparent;
    color: var(--clr-white);
}

.btn-primary-2:hover,
.btn-primary-2:focus {
    background-color: var(--clr-white);
    color: var(--clr-red-400);
}

.img-desktop {
    display: none;
}

@media (min-width: 1000px) {
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
}

/* ===========
    HEADER
============ */

.header {
    background-image: url(./images/bg-pattern-intro-mobile.svg), var(--gradient-1);
    background-size: 330%;
    background-position: bottom 70% left 35%;
    min-height: 60rem;

    padding-top: 5.5rem;
    border-bottom-left-radius: 11rem;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    background-image: url(./images/icon-hamburger.svg);
    background-color: transparent;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-wrapper {
    width: 25%;
    max-width: 100px;
    margin-right: 4rem;
}

.header-title,
.header-subtitle {
    color: white;
    text-align: center;
}

.header-title {
    font-size: clamp(3.4rem, 3.5vw + 1rem, 5.9rem);
    line-height: 1.3;
    margin-top: 11.2rem;
    margin-bottom: 1.5rem;
}

.header-subtitle {
    font-size: 1.7rem;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 4.5rem;
    line-height: 1.4;
}

.action {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* ==== HEADER NAV, DROPDOWN ==== */

.header-nav {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    position: relative;
    color: var(--clr-white);
    background-color: transparent;
}

.dropdown-toggle::after {
    content: url(./images/icon-arrow-light.svg);
    display: inline-block;
    margin-left: 1.5rem;
    transition: transform 0.3s;
}

.dropdown-toggle::before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -15%;
    left: 50%;
    width: 100%;
    background-color: var(--clr-white);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
}

.dropdown-toggle:hover::before {
    transform: translateX(-50%) scaleX(1);
}

.dropdown.show .dropdown-toggle::before {
    transform: translateX(-50%) scaleX(1);
}

.dropdown-menu {
    display: none;

    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.6s;

    background-color: var(--clr-white);
    text-align: center;
    padding: 1.5rem;
    min-width: 130px;
    border-radius: 4px;
}

.dropdown-link {
    color: black;
}

.dropdown-link:hover {
    font-weight: 600;
}

.dropdown.show .dropdown-toggle::after {
    transform: rotate(180deg);
}

.dropdown.show .dropdown-menu {
    display: block;
}

/* Hamburger */
.header-container {
    position: relative;
}

.header-nav.mobile-show {
    position: absolute;
    width: 100%;
    min-height: 350px;
    padding: 3rem 0;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--clr-white);
    border-radius: 1rem;
}

.header-nav.mobile-show + .hamburger {
    background-image: url(./images/icon-close.svg);
}

.header-nav.mobile-show button,
.header-nav.mobile-show a {
    color: var(--clr-blue-800);
}

.header-nav.mobile-show .dropdown-toggle {
    font-size: 2rem;
}

.header-nav.mobile-show .dropdown-toggle::after {
    content: url("./images/icon-arrow-dark.svg");
}

.header-nav.mobile-show .dropdown-toggle::before {
    background-color: var(--clr-blue-600);
}

.header-nav.mobile-show .nav-list,
.header-nav.mobile-show .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav.mobile-show .nav-list {
    width: 80%;
    gap: 2.5rem;
    padding-bottom: 2rem;
    margin-right: initial;
    border-bottom: 1px solid var(--clr-blue-200);
}

.header-nav.mobile-show .dropdown {
    width: 100%;
}

.header-nav.mobile-show .dropdown-menu {
    position: static;
    background-color: #efefef;
    width: 100%;
    margin-top: 1rem;
    transform: translateX(0);
}

.header-nav.mobile-show .btn-primary-1,
.header-nav.mobile-show .btn-primary-2 {
    font-size: 1.8rem;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.header-nav.mobile-show .btn-primary-1 {
    background-image: var(--gradient-1);
    color: var(--clr-white);
}

.header-nav.mobile-show .btn-primary-1:hover,
.header-nav.mobile-show .btn-primary-1:focus {
    transform: scale(1.05);
}

.header-nav.mobile-show .btn-primary-2:hover,
.header-nav.mobile-show .btn-primary-2:focus {
    background-color: var(--clr-red-400);
    color: var(--clr-white);
}

/*  */
@media (min-width: 600px) {
    .header {
        background-size: 220%;
        background-position: bottom 50% left 30%;
    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }

    .header {
        background-size: 220%;
        background-position: bottom 50% left 30%;
    }

    .header-nav {
        display: flex;
        align-items: center;
        width: 85%;
    }

    .nav-list {
        display: flex;
        margin-right: auto;
    }

    .nav-item {
        margin-right: 4rem;
    }

    .nav-link {
        color: var(--clr-white);
    }

    .header-navigation {
        align-items: center;
    }

    .btn-log-in {
        margin-right: 2rem;
    }

    .header-subtitle {
        font-size: 2.1rem;
    }
}

/* =============
  Sections
============ */

.section {
    padding: 10rem 0;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
}

.subsection-title {
    font-size: 2.9rem;
    margin-bottom: 1.8rem;
}

@media (min-width: 1000px) {
    .section {
        text-align: left;
    }
}

/* === Section one === */
.section-one {
    margin-bottom: 16rem;
    overflow: hidden;
}

.section-one-title {
    font-size: clamp(2.5rem, 3vw + 1rem, 4rem);
}

.subsection-one,
.subsection-two {
    max-width: 60ch;
}

.section-one-container {
    display: grid;
    justify-items: center;
    gap: 4.5rem;
    grid-template-areas:
        "title"
        "img"
        "paragraph-1"
        "paragraph-2";
}

.section-one-title {
    grid-area: title;
}

.section-one-img-wrapper {
    grid-area: img;
}

.subsection-one {
    grid-area: paragraph-1;
}

.subsection-two {
    grid-area: paragraph-2;
}

@media (min-width: 1000px) {
    .section-one {
        position: relative;
        margin-bottom: 0rem;
        padding: 16rem 0;
    }

    .section-one-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
        grid-template-areas:
            "title img"
            "paragraph-1 img"
            "paragraph-2 img";
    }

    .section-one-title {
        justify-self: center;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-one-img-wrapper {
        position: absolute;
        right: -15%;
        width: 60%;
        top: 50%;
        transform: translateY(-50%);
    }

    .subsection-one {
        margin-top: 8rem;
    }

    .subsection-two {
        margin-bottom: 8rem;
    }
}

/* ====== Section 2 ======== */

.section-two {
    background-image: url(./images/bg-pattern-circles.svg), var(--gradient-2);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top -80% center;

    border-top-right-radius: 11rem;
    border-bottom-left-radius: 11rem;
}

.section-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-title,
.section-text {
    color: var(--clr-white);
}

.section-text {
    max-width: 60ch;
}

.section-two-title {
    font-size: 3.8rem;
    margin-bottom: 2.4rem;
}

.section-two-img-wrapper {
    /* max-width: 400px; */
    margin-top: -27rem;
}

@media (min-width: 1000px) {
    .section-two {
        background-size: auto;
        background-position: left -45% top 80%;
    }

    .section-two-container {
        flex-direction: row;
    }

    .section-two-content {
        width: 50%;
    }

    .section-two-img-wrapper {
        margin-top: -20rem;
        margin-bottom: -20rem;
        width: 50%;
    }

    .section-two-content {
        width: 50%;
    }
}

/* ========= Section 3 ======== */

.section-three {
    overflow: hidden;
}

.section-three-container {
    display: grid;
    justify-items: center;
    gap: 4.5rem;
    grid-template-areas:
        "img"
        "paragraph-1"
        "paragraph-2";
}

.section-three-img-wrapper {
    grid-area: img;
}

@media (min-width: 1000px) {
    .section-three {
        padding: 16rem 0;
        position: relative;
    }

    .section-three-container {
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
        grid-template-areas:
            "img paragraph-1"
            "img paragraph-2";
    }

    .section-three-img-wrapper {
        position: absolute;
        left: -20%;
        width: 65%;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ===========
    FOOTER
============= */
.footer {
    background-color: var(--clr-blue-800);
    text-align: center;
    color: var(--clr-blue-200);
    padding: 8rem 0;
    border-top-right-radius: 11rem;
}

.footer-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.footer h3 {
    color: var(--clr-white);
    margin-bottom: 2.5rem;
}

.footer-logo-wrapper {
    margin-bottom: 4rem;
    width: 30%;
    max-width: 130px;
}

.footer-nav-item {
    padding: 0.3rem 0;
}

.footer-nav-link {
    font-size: 1.8rem;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    font-weight: 700;
}

@media (min-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-logo-wrapper {
        grid-column: 1/-1;
    }
}

@media (min-width: 1000px) {
    .footer {
        text-align: left;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-logo-wrapper {
        grid-column: 1/2;
    }
}
